*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

.welcome-container {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.welcome-box {
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	margin-bottom: 30px;
}
